<div class="DeepDive container">
    <div class="DeepDive-pageHeader row">
        <div class="DeepDive-pageHeaderText col-sm-12">
            Apparel
        </div>
        <div class="DeepDive-pageHeaderSnippet col-sm-6 col-sm-offset-3">
            Premium gear as devoted as you are
        </div>
        <div class="js-apparelSlides DeepDive-pageHeaderImages col-sm-8 col-sm-offset-2">
            <img class="DeepDive-pageHeaderImage js-apparelSlide" src="public/images/colorway1.png"></img>
            <img class="DeepDive-pageHeaderImage js-apparelSlide" style="display:none" src="public/images/colorway2.png"></img>
            <img class="DeepDive-pageHeaderImage js-apparelSlide" style="display:none" src="public/images/colorway3.png"></img>
            <img class="DeepDive-pageHeaderImage js-apparelSlide" style="display:none" src="public/images/colorway4.png"></img>
        </div>
    </div>
    <div class="DeepDive-item row">
        <div class="DeepDive-itemSnippet col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
            <div class="DeepDive-itemHeader">
                Our Shirts
            </div>
            Copy about our shirts that makes you want to buy one in every size.
        </div>
        <div class="DeepDive-itemImage col-lg-5">
            <img src="public/images/treadedited.png"></img>
        </div>
    </div>
    <hr class="hr">
    <div class="DeepDive-item row">
        <div class="DeepDive-itemSnippet col-lg-4 col-lg-push-6 col-sm-10 col-sm-offset-1">
            <div class="DeepDive-itemHeader">
                Kujo Yard Gloves
            </div>
            This description leaves your hands feeling naked. You desperately want a pair.
        </div>
        <div class="DeepDive-itemImage col-lg-7 col-lg-pull-5" style="padding-left: 0;">
            <img style="float:left" src="public/images/latex.png"></img>
        </div>
    </div>
    <hr class="hr">
    <div class="DeepDive-item row">
        <div class="DeepDive-itemSnippet col-sm-6 col-sm-offset-3">
            <div class="DeepDive-itemHeader">
                Premium Socks
            </div>
            These socks - as illustrated by this superb sentence - will reorder your morning routine. Kujo socks first.
        </div>
        <div class="DeepDive-itemImage">
            <img src="public/images/engineeredmesh.png"></img>
        </div>
    </div>
    <hr class="hr">
</div>
