<div class="Story">
    <div class="Story-header">
        <div class="Story-pageHeaderImages">
            <div class="js-storySlide Story-pageHeaderImage Story-pageHeaderImage--c"></div>
            <div class="Story-pageHeaderText col-sm-12">
                Own Your Yard
            </div>
            <div class="Story-pageHeader--full row">
                <div class="Story-pageHeaderSnippet col-sm-6 col-sm-offset-3">
                    Tips and tricks from our yard to yours
                </div>
            </div>
        </div>
    </div>
</div>
