<div class="BlogPreview container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="BlogPreview-header col-sm-12">
                The latest from Kujo.
            </div>
            <div class="BlogPreview-item BlogPreview-item--first col-md-3">
                <div class="BlogPreview-copy">
                    Something!
                </div>
            </div>
            <div class="BlogPreview-item BlogPreview-item--second col-md-3">
                <div class="BlogPreview-copy">
                    More!
                </div>
            </div>
            <div class="BlogPreview-item BlogPreview-item--third col-md-3">
                <div class="BlogPreview-copy">
                    Great Stuff!
                </div>
            </div>
            <div class="BlogPreview-item BlogPreview-item--fourth col-md-3">
                <div class="BlogPreview-copy">
                    Etc!
                </div>
            </div>
        </div>
    </div>
    <div class="BlogPreview-email row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-sm-12">
                Copy about them giving us their email. Oh yeah!
            </div>
            <div class="col-sm-12">
                <form>
                    <div class="col-sm-9">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="sample2" autocomplete="off">
                            <label class="mdl-textfield__label" for="sample2">Email</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button class="BlogPreview-signup btn btn-default" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
