<div class="BlogItem">
    <div class="BlogItem-content">
        <div class="BlogItem-header">
            <%= title %>
        </div>
        <div class="BlogItem-metadata row">
            <div class="col-sm-6">
                <div class="BlogItem-date">
                    <%= date %>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="BlogItem-readTime">
                    <%= readTime %>
                </div>
            </div>
        </div>
        <div class="BlogItem-text">
            <%= body %>
        </div>
        <div class="BlogItem-more">
            <a class="js-readMore">Read more...</a>
        </div>
    </div>
    <div class="BlogItem-image" style="background-image: url('<%= previewImage %>');"></div>
</div>
