<div class="BlogItem">
    <div class="BlogItem-image"></div>
    <div class="BlogItem-content">
        <div class="BlogItem-header">
            Outdoor Games this Summer
        </div>
        <div class="BlogItem-date">
            10 days ago
        </div>
        <div class="BlogItem-readTime">
            6 minute read
        </div>
        <div class="BlogItem-text">
            Have fun this summer with the whole family with these silly games.
            Why silly, because it is silly o'clock. But there is more text too.
        </div>
        <div class="BlogItem-more">
            Read more...
        </div>
    </div>
</div>
