I am a 
<div class="btn-group btn-group-lg" role="group" aria-label="User Type">
    <button type="button" class="btn btn-default js-type <% if(type==='customer') {%>active<%}%>" data-value="customer">Customer</button>
    <button type="button" class="btn btn-default js-type <% if(type==='retailer') {%>active<%}%>" data-value="retailer">Retailer</button>
    <button type="button" class="btn btn-default js-type <% if(type==='professional') {%>active<%}%>" data-value="professional">Lawn Care Professional</button>
    <button type="button" class="btn btn-default js-type <% if(type==='other') {%>active<%}%>" data-value="other">Other</button>
</div>
