<div class="row">
    <form action="#" class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-sm-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="company_name" type="text" class="mdl-textfield__input">
                    <label for="company_name" class="mdl-textfield__label">Company Name</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="comapny_address" type="text" class="mdl-textfield__input">
                    <label for="comapny_address" class="mdl-textfield__label">Company Address</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="contact_name" type="text" class="mdl-textfield__input">
                    <label for="contact_name" class="mdl-textfield__label">Name</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="contact_title" type="text" class="mdl-textfield__input">
                    <label for="contact_title" class="mdl-textfield__label">Title</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="contact_phone_number" type="tel" class="mdl-textfield__input">
                    <label for="contact_phone_number" class="mdl-textfield__label">Phone Number</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="contact_email" type="email" class="mdl-textfield__input">
                    <label for="contact_email" class="mdl-textfield__label">Email</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ></textarea>
                    <label class="mdl-textfield__label" for="message">Message</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="Footer-signup btn btn-default" type="submit">Send</button> <!-- TODO remove footer class-->
            </div>
        </div>
    </form>
</div>
