<div class="Story">
    <div class="Story-header">
        <div class="Story-pageHeaderImages">
            <div class="js-storySlide Story-pageHeaderImage Story-pageHeaderImage--b"></div>
            <div class="Story-pageHeaderText col-sm-12">
                Say Hello
            </div>
            <div class="Story-pageHeader--full row">
                <div class="Story-pageHeaderSnippet col-sm-6 col-sm-offset-3">
                    What's on your mind, neighbor?
                </div>
            </div>
        </div>
    </div>
</div>
