<div class="DeepDive container">
    <div class="DeepDive-pageHeader row">
        <div class="DeepDive-pageHeaderText col-sm-12">
            Footwear
        </div>
        <div class="DeepDive-pageHeaderSnippet col-sm-6 col-sm-offset-3">
            Uniquely designed to dominate the yard
        </div>
        <div class="js-footwearSlides DeepDive-pageHeaderImage col-sm-8 col-sm-offset-2">
            <img src="public/images/colorway1.png"></img>
            <img src="public/images/colorway2.png"></img>
            <img src="public/images/colorway3.png"></img>
            <img src="public/images/colorway4.png"></img>
        </div>
    </div>
    <div class="DeepDive-item row">
        <div class="DeepDive-itemSnippet col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
            <div class="DeepDive-itemHeader">
                Legit Grip
            </div>
            From heel to toe, we cover your foot in teeth
            to give you the best grip coverage. Faceted relief
            to adapt to the environment. And dynamic traction.
        </div>
        <div class="DeepDive-itemImage col-lg-5">
            <img src="public/images/treadedited.png"></img>
        </div>
    </div>
    <hr class="hr">
    <div class="DeepDive-item row">
        <div class="DeepDive-itemSnippet col-lg-4 col-lg-push-6 col-sm-10 col-sm-offset-1">
            <div class="DeepDive-itemHeader">
                Waterproof Latex
            </div>
            Don’t let wet grass slow you down.
            With our waterproof latex coating,
            keep water out and your feet dry.
            Added protection without the added weight.
        </div>
        <div class="DeepDive-itemImage col-lg-7 col-lg-pull-5" style="padding-left: 0;">
            <img style="float:left" src="public/images/latex.png"></img>
        </div>
    </div>
    <hr class="hr">
    <div class="DeepDive-item row">
        <div class="DeepDive-itemSnippet col-sm-6 col-sm-offset-3">
            <div class="DeepDive-itemHeader">
                Lightweight Mesh
            </div>
            To give you the best in breathability,
            there was no better option than our lightweight
            engineered mesh. At just 2% of the shoe’s weight,
            but 50% of the surface area, you can thank the
            mesh for keeping it light.
        </div>
        <div class="DeepDive-itemImage">
            <img src="public/images/engineeredmesh.png"></img>
        </div>
    </div>
    <hr class="hr">
</div>
