<div class="Story">
    <div class="Story-header">
        <div class="Story-pageHeaderImages">
            <div class="js-storySlide Story-pageHeaderImage Story-pageHeaderImage--a"></div>
            <div class="Story-pageHeaderText col-sm-12">
                Creating Beauty for Everyone
            </div>
            <div class="Story-pageHeader--full row">
                <div class="Story-pageHeaderSnippet col-sm-6 col-sm-offset-3">
                    Our passion for beautiful and enjoyable landscaping does not end in our yard
                </div>
            </div>
        </div>
    </div>
    <div class="Story-body container">
        <div class="Story-item row">
            <div class="Story-itemSnippet col-sm-8 col-sm-offset-2">
                Some text about how we give. It will not look like this.
                This looks like some other text.
                Tired of gripless worn out tennis shoes and the lack of
                better options, our founder decided to foster a brand,
                a company, a culture that not only offered a solution,
                but engaged homeowners that find pride and joy in their yards.
                It was time for yard gear that truly captured the terrain
                of the yard without skimping on the style.
            </div>
        </div>
    </div>
</div>
