<nav class="Navbar Navbar--desktop">
    <div class="Navbar-brand">
        <a class="js-link" data-key="app" data-value="home">
            <span class="Navbar-brand-kujo">Kujo</span>
            <span class="Navbar-brand-yardwear">Yardwear</span>
        </a>
    </div>
    <div class="Navbar-item"><a class="js-link" data-key="app" data-value="footwear">Footwear</a></div>
    <div class="Navbar-item"><a>Apparel</a></div>
    <div class="Navbar-item"><a>Our Story</a></div>
    <div class="Navbar-item"><a>How We Give</a></div>
    <div class="Navbar-item"><a>Blog</a></div>
</nav>

<nav class="Navbar Navbar--mobile">
    <!--<div class="Navbar-item"><a>Yardwear</a></div>-->
    <div class="Navbar-item dropdown">
      <a class="dropdown-toggle" type="button" id="yardwearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Yardwear
      </a>
      <ul class="dropdown-menu" aria-labelledby="yardwearDropdown">
        <li><a class="js-link" data-key="app" data-value="footwear">Footwear</a></li>
        <li><a>Apparel</a></li>
      </ul>
    </div>

    <div class="Navbar-brand"><img class="Navbar-brand-image" src="public/images/lightgrayk.png" alt="Kujo"></img></div>

    <!--<div class="Navbar-item"><a>Our Vision</a></div>-->
    <div class="Navbar-item dropdown">
      <a class="dropdown-toggle" type="button" id="ourVisionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Our Vision
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="ourVisionDropdown">
        <li><a>Our Story</a></li>
        <li><a>How We Give</a></li>
        <li><a>Blog</a></li>
      </ul>
    </div>
</nav>

<!--
<nav class="Navbar">
    <div class="Navbar-brand"><img class="Navbar-brand-image" src="public/images/graykyw.png" alt="Kujo Yardwear"></img></div>
    <div class="Navbar-item"><a href="#">Footwear</a></div>
    <div class="Navbar-item"><a href="#">Apparel</a></div>
    <div class="Navbar-item"><a href="#">Our Story</a></div>
    <div class="Navbar-item"><a href="#">How We Give</a></div>
    <div class="Navbar-item"><a href="#">Blog</a></div>
</nav>
