<div class="Slides js-slides">
    <div class="Slides-item Slides-item--story container">
        <div class="Slides-copy">
            <div class="row">
                <div class="Slides-text col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> 
                    We are passionate individuals with one mission:
                    give you the gear to get the most out of your yard!
                </div>
            </div>
            <button class="btn btn-default Slides-action">
                Our Story
            </button>
        </div>
    </div>
    <div class="Slides-item Slides-item--footwear container">
        <div class="Slides-copy">
            <div class="row">
                <div class="Slides-text col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> 
                    Premium footwear whether it’s time to work
                    or play - be ready with the best.
                </div>
            </div>
            <button class="btn btn-default Slides-action">
                Footwear
            </button>
        </div>
    </div>
    <div class="Slides-item Slides-item--apparel container">
        <div class="Slides-copy">
            <div class="row">
                <div class="Slides-text col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> 
                    The best kept lawns, have the best dressed owners.
                    Hit the yard dressed in style and function.
                </div>
            </div>
            <button class="btn btn-default Slides-action">
                Apparel
            </button>
        </div>
    </div>
    <div class="Slides-item Slides-item--give container">
        <div class="Slides-copy">
            <div class="row">
                <div class="Slides-text col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> 
                    Join the movement. Every time you support Kujo,
                    we support communities in need to develop their
                    unique outdoor space.
                </div>
            </div>
            <button class="btn btn-default Slides-action">
                How We Give
            </button>
        </div>
    </div>
</div>
