<div class="Product container">
    <div class="Product-item Product-item--footwear Product-item--left row">
        <div class="Product-copy col-md-5 col-md-offset-1">
            <div class="Product-message">
                Marketing copy about footwear you will be thinking about before you fall asleep.
            </div>
            <button class="btn btn-default">Explore Footwear</button>
        </div>
        <div class="Product-image col-md-6">
            <img src="public/images/shoesedited2.png"></img>
        </div>
    </div>
    <div class="Product-item Product-item--apparel Product-item--right row">
        <div class="Product-image col-md-6">
            <img src="public/images/jorts2.png"></img>
        </div>
        <div class="Product-copy col-md-5">
            <div class="Product-message">
                Apparel copy that is so far out of this world, you will need a meteor to get back.
            </div>
            <button class="btn btn-default">Explore Shirts</button>
        </div>
    </div>
    <div class="Product-item Product-item--socks Product-item--left row">
        <div class="Product-copy col-md-5 col-md-offset-1">
            <div class="Product-message">
                Copy about socks that hits you in your foot's heart.
            </div>
            <button class="btn btn-default">Explore Socks</button>
        </div>
        <div class="Product-image col-md-6">
            <img src="public/images/sockedited2.png"></img>
        </div>
    </div>
    <div class="Product-item Product-item--gear Product-item--right row">
        <div class="Product-image col-md-6">
            <img src="public/images/glovewhite.png"></img>
        </div>
        <div class="Product-copy col-md-5">
            <div class="Product-message">
                Gloves with copy so good you will buy them twice.
            </div>
            <button class="btn btn-default">Explore Gloves</button>
        </div>
    </div>
</div>
