<div class="DeepDive">
    <div class="DeepDive-pageHeaderImages u-relative">
        <div class="js-storySlide DeepDive-pageHeaderImage" style="background-image: url('/public/images/phase1.png');"></div>
        <div class="js-storySlide DeepDive-pageHeaderImage" style="background-image: url('/public/images/phase2.png'); display:none"></div>
        <div class="js-storySlide DeepDive-pageHeaderImage" style="background-image: url('/public/images/phase3.png'); display:none"></div>
        <div class="js-storySlide DeepDive-pageHeaderImage" style="background-image: url('/public/images/phase4.png'); display:none"></div>
        <div class="DeepDive-pageHeaderText col-sm-12" style="z-index:10000">
            Our Story
        </div>
        <div class="DeepDive-pageHeader--full row">
            <div class="DeepDive-pageHeaderSnippet col-sm-6 col-sm-offset-3">
                On the quest to make premium yardwear to match your passion
            </div>
        </div>
    </div>
    <div class="container" style="width: 100%">
        <div class="DeepDive-item row">
            <div class="DeepDive-itemSnippet col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                <div class="DeepDive-itemHeader">
                    Our Story
                </div>
            </div>
            <div class="DeepDive-itemSnippet col-lg-5">
                Tired of gripless worn out tennis shoes and the lack of
                better options, our founder decided to foster a brand,
                a company, a culture that not only offered a solution,
                but engaged homeowners that find pride and joy in their yards.
                It was time for yard gear that truly captured the terrain
                of the yard without skimping on the style.
            </div>
        </div>
        <hr class="hr">
        <div class="DeepDive-item row">
            <div class="DeepDive-itemSnippet col-lg-4 col-lg-push-6 col-sm-10 col-sm-offset-1">
                <div class="DeepDive-itemHeader">
                    Waterproof Latex
                </div>
                The Kujo, our namesake and CEO’s cousin, was a guy who
                always had to be outside. As kids, he shared the love
                for being in the yard by getting those Langton cousins outside,
                despite their longings for his video games. Shawn still hears
                The Kujo’s voice reminding him, “let’s go outside!”
            </div>
            <div class="DeepDive-itemImage col-lg-7 col-lg-pull-5" style="padding-left: 0;">
                <img style="float:left" src="public/images/latex.png"></img>
            </div>
        </div>
        <hr class="hr">
        <div class="DeepDive-item row">
            <div class="DeepDive-itemSnippet col-sm-6 col-sm-offset-3">
                <div class="DeepDive-itemHeader">
                    Our Culture
                </div>
                We love our yards! Our pride is in freshly cut grass and
                our joy is enjoying it with a cold one because nothing beats
                opening up the backdoor to your own paradise. Soak up the sun,
                work up a sweat, host a blow out, show off your flowerbeds...
                as long as you’re spending time outside, you’re doing it right.
                Meanwhile, we’ll make sure you’re clothed in nothing but
                the best in premium yardwear.
            </div>
            <div class="DeepDive-itemImage">
                <img src="public/images/engineeredmesh.png"></img>
            </div>
        </div>
        <hr class="hr">
    </div>
</div>
