<div class="Story">
    <div class="Story-header">
        <div class="Story-pageHeaderImages">
            <div class="js-storySlide Story-pageHeaderImage Story-pageHeaderImage--1"></div>
            <div class="js-storySlide Story-pageHeaderImage Story-pageHeaderImage--2"></div>
            <div class="js-storySlide Story-pageHeaderImage Story-pageHeaderImage--3"></div>
            <div class="Story-pageHeaderText col-sm-12">
                Our Story
            </div>
            <div class="Story-pageHeader--full row">
                <div class="Story-pageHeaderSnippet col-sm-6 col-sm-offset-3">
                    On the quest to make premium yardwear to match your passion
                </div>
            </div>
        </div>
    </div>
    <div class="Story-body container">
        <div class="Story-item row">
            <div class="Story-itemHeader col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                Our Story
            </div>
            <div class="Story-itemSnippet col-lg-5 col-lg-offset-0 col-sm-10 col-sm-offset-1">
                Tired of gripless worn out tennis shoes and the lack of
                better options, our founder decided to foster a brand,
                a company, a culture that not only offered a solution,
                but engaged homeowners that find pride and joy in their yards.
                It was time for yard gear that truly captured the terrain
                of the yard without skimping on the style.
            </div>
        </div>
        <div class="Story-item row">
            <div class="Story-itemHeader col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                Our Namesake
            </div>
            <div class="Story-itemSnippet col-lg-5 col-lg-offset-0 col-sm-10 col-sm-offset-1">
                The Kujo, our namesake and CEO’s cousin, was a guy who
                always had to be outside. As kids, he shared the love
                for being in the yard by getting those Langton cousins outside,
                despite their longings for his video games. Shawn still hears
                The Kujo’s voice reminding him, “let’s go outside!”
            </div>
        </div>
        <div class="Story-item row">
            <div class="Story-itemHeader col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                Our Culture
            </div>
            <div class="Story-itemSnippet col-lg-5 col-lg-offset-0 col-sm-10 col-sm-offset-1">
                We love our yards! Our pride is in freshly cut grass and
                our joy is enjoying it with a cold one because nothing beats
                opening up the backdoor to your own paradise. Soak up the sun,
                work up a sweat, host a blow out, show off your flowerbeds...
                as long as you’re spending time outside, you’re doing it right.
                Meanwhile, we’ll make sure you’re clothed in nothing but
                the best in premium yardwear.
            </div>
        </div>
        <div class="Story-item row">
            <div class="Story-itemHeader col-lg-4 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                Our Promise
            </div>
            <div class="Story-itemSnippet col-lg-5 col-lg-offset-0 col-sm-10 col-sm-offset-1">
                Every time you put on a piece of Kujo, you’re saying you want
                the best. The best in functionality, the best in appearance,
                the best in quality, the best in premium yardwear. From our
                production to your yard we take no shortcuts, we do it right
                ...and that’s something we put our brand on.
            </div>
        </div>
    </div>
</div>
