/* Text shadow for black text on colors:
 * text-shadow: 0 1px 3px #fff;
 * White on colors:
 * text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 *
 * Uppercase, 2.5px letterspacing for links
 */
body, html {
    font-family: 'Catamaran', "Helvetica Neue", sans-serif !important;
}
a {
    color: rgb(65, 75, 86) !important;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 0px #0D0D0E;
    color: #0d0d0e !important;
}
.Footer-bottom a {
    color: #727272 !important;
    font-weight: normal;
}
.dropdown-menu a:first-child {
    padding-top: 10px;
}

.mdl-textfield__label:after {
    bottom: 15px;
    background-color: #75bf43;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #75bf43;
}
.mdl-textfield__label {
    text-align: center;
}
.mdl-textfield__input {
    font-family: inherit;
    text-align: center;
}
.mdl-textfield {
    width: 100%;
}
.mdl-textfield--floating-label .mdl-textfield__label,
.mdl-textfield__label:after {
    transition-duration: .5s;
}
.mdl-textfield__label:after {
    left: 50%;
}
.slick-dots {
    bottom: 25px;
}
.slick-dots li button:before {
    font-size: 14px;
    color: white;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.btn:hover {
    border-width: 2px;
    background: transparent;
    padding-bottom: 5px;
    padding-top: 9px;
}




.Navbar {
    padding-top: 15px;
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    background-color: white;
    text-transform: uppercase;
}
.Navbar .Navbar-brand {
    font-family: "Helvetica Neue", sans-serif !important;
    display: inline-block;
    font-size: 20px;
    width: 240px;
}
.Navbar .Navbar-brand-kujo {
    color: rgba(51, 51, 51, .8);
}
.Navbar .Navbar-brand-yardwear {
    font-weight: 700;
}
.Navbar .Navbar-brand-image {
    height: 18px;
}
.Navbar .Navbar-item {
    letter-spacing: 2.5px;
    display: inline-block;
    font-size: 13px;
}
.Navbar .Navbar-item:hover {
    text-decoration: none;
}

@media (min-width: 760px) {
    .Navbar--mobile {
        display: none;
    }
    .Navbar .Navbar-item {
        margin-left: 12px;
    }
}

@media (max-width: 759px) {
    .Navbar--desktop {
        display: none;
    }
    .Navbar--mobile .Navbar-item {
        width: 29%;
        text-align: center;
    }
    .Navbar--mobile .Navbar-brand {
        width: 40%;
        text-align: center;
    }
    .Navbar--mobile .Navbar-brand-image {
        height: 24px;
    }
}



.Slides {
    width: 100%;
    height: 600px;
}
.Slides-item {
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Slides-item--story {
    background: url('../images/aboutus.jpeg');
    background-size: cover;
    height: 600px;
}
.Slides-item--footwear {
    background: url('../images/footwear.jpeg');
    background-size: cover;
    height: 600px;
}
.Slides-item--apparel {
    background: url('../images/apparel.jpeg');
    background-size: cover;
    height: 600px;
}
.Slides-item--give {
    background: url('../images/howgive.jpeg');
    background-size: cover;
    height: 600px;
}
.Slides-copy {
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 25px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: white !important;
    text-shadow: .1em .1em 1em rgba(0,0,0,0.8);
    line-height: 1.3;
}
.Slides-action {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    width: 25%;
    padding-top: 10px;
    background: transparent;
    color: white !important;
    text-shadow: .1em .1em 1em rgba(0,0,0,0.8);
    border-color: white;
}
.Slides-action:hover {
    border-color: white !important;
}




.Culture {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.Culture .text {
    font-size: 22px;
    color: #333;
    letter-spacing: 2px;
    text-align: justify;
}




.Product {
    width: 100%;
}
.Product-item {
    height: 400px;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}
.Product-item--footwear {
    background-color: bisque;
}
.Product-item--socks {
    background-color: antiquewhite;
}
.Product-item--apparel {
    background-color: beige;
}
.Product-item--gear {
    background-color: lightgoldenrodyellow;
}



.BlogPreview {
    width: 100%;
    margin-top: 60px;
}
.BlogPreview-header {
    font-size: 28px;
    letter-spacing: 2.5px;
    text-align: center;
    padding-bottom: 30px;
}
.BlogPreview-item {
    /*display: table;*/
    background: url('../images/apparel.jpeg');
    background-size: cover;
    height: 200px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BlogPreview-copy {
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: white;
    font-size: 20px;
}





.Footer {
    width: 100%;
    font-size: 16px;
    background: url('../images/verylightgrayk.png');
    background-size: 40% 100%;
    background-repeat: no-repeat;
}
.Footer-header {
   font-size: 22px;
   text-align: center;
}
.Footer-header-logo {
    height: 18px;
    vertical-align: baseline;
}
.Footer-standard {
    padding-top: 50px;
}
.Footer-logo {
    display: block;
    height: 300px;
    opacity: .012;
    background: url('../images/grayk.png');
}
.Footer-image {
    width: 100%;
}
.Footer-text {
    padding-top: 15px;
    display: block;
    text-align: justify;
    letter-spacing: 1px;
}
.Footer-email {
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
}
.Footer-email-copy {
    font-size: 22px;
    padding-bottom: 10px;
}
.Footer-signup {
    text-transform: uppercase;
    width: 100%;
    margin-top: 11px;
    padding-top: 10px;
}
.Footer-social {
    padding-top: 40px;
    text-align: center;
}
.Footer-social-item {
    margin-left: 10px;
    margin-right: 10px;
    opacity: .9;
    cursor: pointer;
}
.Footer-social-item:hover {
    opacity: 1;
}
.Footer-bottom {
    color: #727272;
    text-align: center;
    font-size: 14.5px;
    clear: both;
    padding-top: 30px;
    padding-bottom: 10px;
}
