.Navbar {
    /*
    position: fixed;
    z-index: 999;
    */
    padding-top: 15px;
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    background-color: white;
    text-transform: uppercase;
}
.Navbar .Navbar-brand {
    font-family: "Helvetica Neue", sans-serif !important;
    display: inline-block;
    font-size: 20px;
    width: 240px;
    vertical-align: sub;
    margin-top: 4px;
}
.Navbar .Navbar-brand-kujo {
    color: rgba(51, 51, 51, .8);
}
.Navbar .Navbar-brand-yardwear {
    font-weight: 700;
}
.Navbar .Navbar-brand-image {
    height: 18px;
}
.Navbar .Navbar-item {
    letter-spacing: 2.5px;
    display: inline-block;
    font-size: 13px;
}
.Navbar .Navbar-item:hover {
    text-decoration: none;
}

@media (min-width: 760px) {
    .Navbar--mobile {
        display: none;
    }
    .Navbar .Navbar-item {
        margin-left: 12px;
    }
}

@media (max-width: 759px) {
    .Navbar--desktop {
        display: none;
    }
    .Navbar--mobile .Navbar-item {
        width: 29%;
        text-align: center;
    }
    .Navbar--mobile .Navbar-brand {
        width: 40%;
        text-align: center;
    }
    .Navbar--mobile .Navbar-brand-image {
        height: 24px;
    }
}
