.Sidebar {
    // border: 1px solid #A0A0A0;
    border: 1px solid #DADADA;
    border-radius: 3px;
}
.Sidebar-header {
    font-size: 32px;
    background-color: #F0F0F0; //FCFCFC
    letter-spacing: 1.5px;
    font-weight: 200;
    color: #333;
    text-align: center;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Sidebar-content {
    background-color: white;
    letter-spacing: 1.5px;
    font-weight: 200;
    font-size: 22px;
    color: #333;
    text-align: center;
    line-height: 2;
}
.Sidebar-item {
    display: block;
    color: #333 !important;
    font-weight: 200 !important;
}
.Sidebar-item.is-active {
    border-left: 2px solid #3C6BE4;
    color: black !important;
    font-weight: 400 !important;
}
